<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <title>Producers</title>
</head>
<body>

    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a th:href="@{/}">Index</a></li>
            <li><a th:href="@{/producers}">Producers</a></li>
            <li><a th:href="@{/products}">Products</a></li>
        </ul>
    </div>
    <table border="1px">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Delete</td>
    </tr>
    <th:block th:each="producer : ${producers}">
        <tr>
            <td th:utext="${producer.getId()}">.</td>
            <td th:utext="${producer.getName()}">.</td>
            <td th:id="${producer.getId()}">
                <button type="button" th:onclick="'deleteProducer(' + ${producer.getId()} + ');'"> Delete</button>
            </td>
        </tr>
    </th:block>
</table>

    <script>
        function deleteProducer(id) {
            $.ajax({
                url: "/producer/" + id,
                type: "DELETE",
                contentType: "application/json",
                dataType : 'json',
                success: () => {
                    location.reload();
                },
                error: (err) => {
                    console.log(err);
                }
            });
        }
    </script>
</body>
</html>